<div class = "banner">
  <h1><strong>Welcome to GlamLease Home !</strong></h1>
  <p><strong>Clothes renting between consumers</strong></p>
</div>

<div class="button-container">

  <% @clothes.each do |clothe| %>
    <%= link_to clothe_path(clothe.id) do %>
      <div class="card-trip">
        <% if clothe.photo.attached? %>
          <%= cl_image_tag clothe.photo.key, class: "clothe-image" %>
        <% else %>
          <img src="https://staticassets.oxfam.org.uk/oxfamgb-production/images/RS350994_Clothes_at_Oxfam_Supersto.2e16d0ba.fill-650x450.jpg" alt="">
        <% end %>
        <div class="card-trip-infos">
          <div>
            <p>Type : <%= clothe.clothe_type %></p>
            <p>Taille : <%= clothe.size %></p>
            <p>Couleur : <%= clothe.color %></p>
          </div>
          <h2 class="card-trip-pricing"><%= clothe.price_per_day %> € </h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end  %>
  <% end %>
</div>
