<%= simple_form_for @clothe  do |f| %>

<div class="container-sm form-merchant">
  <div class="container-sm">
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1>Rent your clothes</h1>
          <div class="row">
                   <img id="photo_preview" src="#" alt="Preview" style="display: none; width: 400px; height: 300px; object-fit: cover; border-radius: 10px;"/>
                   <%= f.input :photo, as: :file, input_html: { id: "photo_input" } %>
            <div class="col">
              <%= f.input :name, class: "form-control", placeholder: "your clothe name !"%>
            </div>

          </div>
          <div class="row">
           <div class="col">
               <%= f.input :color, class: "form-control form-control-color", placeholder: "blue, red, yellow..." %>
          </div>

            <div class="col-md-6">
                <%= f.input :size, class: "form-select form-select-sm", collection: ["xs", "s", "m", "l", "xl"]%>
              </div>
          </div>

  <div class= "row">
  <div class="col-md-6">
    <%= f.input :genre, class: "form-select form-select-sm", collection: ["Male", "Female", "Other"] %>
  </div>
  <div class="col">
    <%= f.input :clothe_type, class: "form-select form-select-sm", collection: ["Top", "Bottom", "Accessories", "Shoes"] %>
  </div>
</div>

  <div>
<%=  f.input :price_per_day %>
  </div>
<div class="row">
  <div class="col-md-6">
    <%= f.button :submit, class: "btn-md btn-primary" %>
  </div>
  <div class="col">
    <%= link_to "Back", "/", class: "btn-md btn-primary" %>
</div>
</div>
  </div>

</div>
</div>
</div>

</div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    console.log("photo_input:", document.getElementById("photo_input")); // Debug

    const photoInput = document.getElementById("photo_input");
    const photoPreview = document.getElementById("photo_preview");

    if (!photoInput || !photoPreview) {
      console.error("photo_input or photo_preview not found!");
      return;
    }

    photoInput.addEventListener("change", function (event) {
      const file = event.target.files[0];

      if (file) {
        const reader = new FileReader();

        reader.onload = function (e) {
          photoPreview.src = e.target.result;
          photoPreview.style.display = "block";
        };

        reader.readAsDataURL(file);
      }
    });
  });
</script>

<% end %>
