<div class="card-product">
  <img src="https://staticassets.oxfam.org.uk/oxfamgb-production/images/RS350994_Clothes_at_Oxfam_Supersto.2e16d0ba.fill-650x450.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Type: <%= @clothe.clothe_type %></p>
    <p>Color : <%= @clothe.color %></p>
    <p>Size : <%= @clothe.size %> </p>
    <p>Price per day : <%= @clothe.price_per_day%> </p>
  </div>

<a class="btn btn-ghost" href="#"><%= link_to "Back", clothes_path %></a>


    <button class = "btn_book">
        <%= link_to "Book", clothes_path %>
    </button>

</div>
