<div class="container-fluid">
  <div class="d-flex justify-content-around">
    <div>
      <% if @clothe.photo.attached? %>
        <%= cl_image_tag @clothe.photo.key, class: "clothe-image", height: 300, width: 300, crop: :fill %>
      <% end %>
    </div>

    <div class="d-flex flex-column">
      <h2><%= @clothe.name %></h2>
      <p>Type: <%= @clothe.clothe_type %></p>
      <p>Color : <%= @clothe.color %></p>
      <p>Size : <%= @clothe.size %> </p>
      <p>Price per day : <%= @clothe.price_per_day%> </p>
    </div>

    <div class="d-flex flex-column justify-content-between">



      <%# TODO %>
      <%# Potentiellement mettre directement le formulaire de booking ici %>
      <%= render "bookings/form", clothe: @clothe, booking: @booking %>

      <%= link_to "Back", new_clothe_booking_path(@clothe), class:"btn btn-primary mt-4" %>

    </div>
  </div>
</div>
