<p>Type: <%= @clothe.clothe_type %></p>
<p>Color : <%= @clothe.color %></p>
<p>Size : <%= @clothe.size %> </p>
<p>Price per day : <%= @clothe.price_per_day%> </p>

<%= link_to "Book this item", new_clothe_booking_path(@clothe), class: "btn btn-success" %>

<% if @clothe.photo.attached? %>
  <%= cl_image_tag @clothe.photo.key, class: "clothe-image" %>
<% end %>

<%= link_to "Back to all clothes", clothes_path %>
